<ion-header>
  <ion-navbar>
    <ion-title>Deliveries</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="create">
        Create
      </ion-segment-button>
      <ion-segment-button value="customer">
        Customer <ion-badge item-end>{{ customerDeliveries.length }}</ion-badge>
      </ion-segment-button>
      <ion-segment-button value="merchant">
        Merchant <ion-badge item-end>{{ merchantDeliveries.length }}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="type">
    <div *ngSwitchCase="'create'">
      <ion-list>

        <ion-item>
          <ion-label floating>Merchant address</ion-label>
          <ion-input type="text" [(ngModel)]="merchantAddress"></ion-input>
        </ion-item>

        <ion-item>
           <ion-label floating>Price (Eth)</ion-label>
          <ion-input type="number" [(ngModel)]="priceAmount"></ion-input>
        </ion-item>


      </ion-list>

      <div padding>
        <button ion-button color="primary" block (click)="createDelivery()">Create delivery</button>
      </div>
    </div>

    <div *ngSwitchCase="'customer'">
       <ion-card *ngFor="let delivery of customerDeliveries">
        <ion-card-header>
          Purchase
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col style="max-width: 100px">ID</ion-col>
            <ion-col>{{ delivery.deliveryId }}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Customer</ion-col>
            <ion-col style="text-align: left">{{ delivery.customer}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Merchant</ion-col>
            <ion-col>{{ delivery.merchant }}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Deposit</ion-col>
            <ion-col>{{ delivery.deposit}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Timeout</ion-col>
            <ion-col>{{ delivery.timeoutTimestamp}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Active</ion-col>
            <ion-col>{{ delivery.active }}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-list>
          <button ion-item (click)="createReleaseCode(delivery)" *ngIf="delivery.active && delivery.timeoutTimestamp > currentDate">
            <ion-icon name="cash" item-start></ion-icon>
            Create release code
          </button>
          <button ion-item (click)="refund(delivery)" *ngIf="delivery.active && delivery.timeoutTimestamp < currentDate">
            <ion-icon name="return-left" item-start></ion-icon>
            Refund
          </button>
         </ion-list>
        </ion-card-content>

      </ion-card>

      <div padding>
        <button ion-button color="primary" block (click)="refreshDatasets()">Refresh</button>
      </div>

    </div>
    <div *ngSwitchCase="'merchant'">
       <ion-card *ngFor="let delivery of merchantDeliveries">
        <ion-card-header>
          Purchase
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col style="max-width: 100px">ID</ion-col>
            <ion-col>{{ delivery.deliveryId }}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Customer</ion-col>
            <ion-col style="text-align: left">{{ delivery.customer}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Merchant</ion-col>
            <ion-col>{{ delivery.merchant }}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Deposit</ion-col>
            <ion-col>{{ delivery.deposit}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Timeout</ion-col>
            <ion-col>{{ delivery.timeoutTimestamp}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row *ngIf="!delivery.active">
            <ion-col style="max-width: 100px">Refunded</ion-col>
            <ion-col>{{ delivery.refundedTimestamp}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row *ngIf="!delivery.active">
            <ion-col style="max-width: 100px">Delivered</ion-col>
            <ion-col>{{ delivery.deliveredTimestamp}}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="max-width: 100px">Active</ion-col>
            <ion-col>{{ delivery.active }}</ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-list>
          <button ion-item (click)="settlePayment(delivery)" *ngIf="delivery.active && delivery.timeoutTimestamp > currentDate">
            <ion-icon name="cash" item-start></ion-icon>
            Settle payment
          </button>
          <button ion-item (click)="refund(delivery)" *ngIf="delivery.active && delivery.timeoutTimestamp < currentDate">
            <ion-icon name="return-left" item-start></ion-icon>
            Refund to customer
          </button>
         </ion-list>
        </ion-card-content>
      </ion-card>
      <div padding>
        <button ion-button color="primary" block (click)="refreshDatasets()">Refresh</button>
      </div>
    </div>
  </div>
</ion-content>
