{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if user.is_authenticated %}

Logged in as: {{ user.username }}

<a href="{% url 'logout' %}">Logout</a>


{% else %}

<button type="button" onclick="startLogin()">Login</button>

{% endif %}

<form method="post">
    {% csrf_token %}
<table>
{{ form.as_table }}
</table>
    <input type="submit" value="Order">
</form>


<script src="{% static 'web3auth/js/web3auth.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    function startLogin() {
  if (typeof web3 !== 'undefined') {
    checkWeb3(function (loggedIn) {
      if (!loggedIn) {
        alert("Please unlock your web3 provider (probably, Metamask)")
      } else {
        var login_url = '{% url 'shop_login_api' %}';
        web3Login(login_url, console.log, console.log, console.log, console.log, console.log, function (resp) {
          console.log(resp);
          //window.location.replace(resp.redirect_url);
        });
      }
    });

  } else {
    alert('web3 missing');
  }
}
</script>
</body>
</html>